@using FlowersShop.WEB.Helpers
@using FlowersShop.WEB.Models
@model CommoditiesFilter

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="width: 100%; text-align: center; margin-bottom: 25px; margin-top: 8em;">
    <a class="btn btn-md btn-default" href="@Url.Action("GetBouquets", "Commodities")">Bouquets</a>
    <a class="btn btn-md btn-default" href="@Url.Action("GetBaskets", "Commodities")">Baskets</a>
    <a class="btn btn-md btn-default" href="@Url.Action("GetMonoBouquets", "Commodities")">Mono Bouquets</a>
    <a class="btn btn-md btn-default" href="@Url.Action("GetCompositions", "Commodities")">Compositions</a>
</div>

<table class="table">
    <tr>
        <th>
           Title
        </th>
        <th>
            Description
        </th>
        <th>
            Preferences
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Commodities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.Preferences)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id_Commodities })
            </td>
        </tr>
    }
</table>


<div style="text-align: left">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
