@using FlowersShop.WEB.Helpers
@using FlowersShop.WEB.Models
@model CommoditiesFilter

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="width: 100%; text-align: center; margin-bottom: 25px; margin-top: 8em;">
    <a class="btn btn-md btn-default" href="@Url.Action("GetBouquets", "Commodities")">Bouquets</a>
    <a class="btn btn-md btn-default" href="@Url.Action("GetBaskets", "Commodities")">Baskets</a>
    <a class="btn btn-md btn-default" href="@Url.Action("GetMonoBouquets", "Commodities")">Mono Bouquets</a>
    <a class="btn btn-md btn-default" href="@Url.Action("GetCompositions", "Commodities")">Compositions</a>
</div>

    @foreach (var item in Model.Commodities)
    {
        <div>
            <h4>
                <span class="pull-right label label-info">@item.Price.ToString("# UAH")</span>
            </h4>
            <h3>@item.Title</h3>
            <p>@item.Colour</p>
            <p>@item.Description</p>
            <p>@item.Preferences</p>
            <img src="@item.image" />
        </div>
        <hr />
    }
    <div style="text-align: left">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>
