@model IEnumerable<FlowersShop.Models.Commodities>

@{
    ViewBag.Title = "Index";
}


<div style="width: 100%; text-align: center; margin-bottom: 25px; margin-top: 8em;">
    <a class="btn btn-md btn-default" href="@Url.Action("Bouquets", "Commodities")">Bouquets</a>
    <a class="btn btn-md btn-default" href="@Url.Action("Baskets", "Commodities")">Baskets</a>
    <a class="btn btn-md btn-default" href="@Url.Action("MonoBouquets", "Commodities")">Mono Bouquets</a>
    <a class="btn btn-md btn-default" href="@Url.Action("Compositions", "Commodities")">Compositions</a>
    <a class="btn btn-md btn-info" href="@Url.Action("Index", "DreamBouquet")">Create your own dream bouquet</a>
</div>
<h2 style="padding-top:25px;">Our super prepositions</h2>
<hr />
<div class="container" style="margin-top: 40px; margin-bottom:25px;">
    <div class="row">
        @using (Html.BeginForm("Index", "Commodities", FormMethod.Get))
        {
            <div class="col-lg-4" style="width: 15%; padding-left: 0;">
                @Html.DropDownList("selectedTitle", new SelectList(new string[] { "All", "Baskets", "Bouquets", "Composition", "Mono Bouquets" }))
            </div>
            <div class="col-lg-4" style="width: 13%; padding-left: 4%">
                @Html.DropDownList("selectedColour", new SelectList(new string[] { "All", "Mixed", "Pink", "White", "Yellow", "Blue", "Red" }))
            </div>
            <div class="col-lg-2" style="width: 30%; padding-left: 4%">
                @Html.DropDownList("selectedPriceSort", new SelectList(new string[] { "Ascending", "Descending" }))
            </div>
            <div class="col-lg-2" style="width: 42%; padding-left: 26%">
                <div class="row">
                    <div class="col-lg-8" style="padding-left: 35%">
                        @Html.DropDownList("selectedCategory", new SelectList(new string[] { "All", "Mom", "Beloved", "Colleague", "For granny", "Kid" }))
                    </div>
                    <div class="col-lg-4">
                        <input class="btn-lg btn-xs" type="submit" value="apply" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preferences)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preferences)
            </td>
            <td>
                <a href="Orders/Create/@item.id_Commodities">Buy</a>
                @Html.ActionLink("Details", "Details", new { id = item.id_Commodities })
            </td>
        </tr>
    }

</table>
