@model IEnumerable<FlowersShop.WEB.Models.CityViewModel> 
@{
    ViewBag.Title = "Delivering";
}

<h2>Delivering by cities</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Title)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Price)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to Home", "Index", "Commodities")
</div>