@model IEnumerable<FlowersShop.Models.Commodities>

@{
    ViewBag.Title = "Index";
}

<h2 style="padding-top:25px;">Create your own dream bouquet</h2>

<div class="container"  style="margin-top: 40px; margin-bottom:25px;">
    <div class="row"  style="margin-bottom:40px;">
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Category.Title)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Title)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Colour)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Price)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Preferences)
        </div>
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.image)
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
    </div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.Category.Title)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Title)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.Colour)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.Price)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
        <div class="col-md-1">
            @Html.DisplayFor(modelItem => item.Preferences)
        </div>
        <div class="col-md-2">
            <img style="height: 80px; width: 80px;" src="@Html.DisplayFor(modelItem => item.image)" />
        </div>
        <div class="col-md-1">
            <a href="@Url.Action("Create", "Orders", new { id = item.id_Commodities })">Buy</a>
        </div>
        <div class="col-md-1">
            @Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "Commodities",
                          routeValues: new { id = item.id_Commodities }, htmlAttributes: null)
        </div>
    </div>
}
</div>
<div>
    @Html.ActionLink(linkText: "Back to Home", actionName: "Index", controllerName: "Commodities",
                     routeValues: null, htmlAttributes: null)
</div>

